/*Override browser default styles*/

@font-face {
    font-family: 'Helvetica Now Display Bold';
    src: local('Helvetica Now Display Bold'), local('Helvetica-Now-Display-Bold'),
        url('../fonts/HelveticaNowDisplay-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Bold.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Now Display';
    src: local('Helvetica Now Display Regular'), local('Helvetica-Now-Display-Regular'),
        url('../fonts/HelveticaNowDisplay-Regular.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Regular.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Helvetica Now Display';
}

body {
    background-color: rgb(31,31,31);
    position: relative;
}

.gradient-wrapper{
    background: conic-gradient(from 0deg at 50% 67.83%, #1F1F1F -112.52deg,
     #1F1F1F 0.02deg, #2B2B2B 115.91deg, 
    #8CDAE5 169.98deg, #ABE581 191.66deg, #1F1F1F 247.48deg, #1F1F1F 360.02deg);
}

html {
    scroll-behavior: smooth;
}

button{
    -webkit-appearance: none;
}

/*Main styles*/

.logo-wrapper{
    width: 100%;
}

.logo{
    margin-left:4.5rem;
    margin-top:3rem;
}

.logo img{
    width:272px;
    height: 50px;
    object-fit: contain;
}

.page-header{
    display: flex;
    justify-content: space-between;
}

.page-header__content{
    margin-top: 12rem;
    margin-left:6rem;
    color:#fff;
}

.page-header__content h1 {
    font-family: 'Helvetica Now Display Bold';
    font-size: 4.5rem;
    line-height: 3rem;
    letter-spacing: -0.015em;
    line-height: 72px;
}

.page-header__content__description{
    max-width: 495px;
    margin-top: 1rem;
}

.page-header__content__description p{
    font-size: 26px;
    line-height: 36px;
}

.page-header__content__button {
    margin-top: 24px;
}

#learn-more{
    width: 241px;
    height: 64px;
    font-family: 'Helvetica Now Display Bold';
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;
    color: #2B2B2B;
    background: linear-gradient(213.12deg, #ABE581 26.52%, #8CDBE2 111.08%);
}
.page-header__animation{
    width: 1050px;
    overflow: hidden;
    margin-top: -15rem;
}

.page-header__animation .mobile{
    display: none;
}

.main-content{
    z-index: 1;
    position: relative;
}

.faq-container{
    color:#fff;
    max-width: 944px;
    margin: 0px auto;
    padding: 0 2rem;
}

.join-us__wrapper{
    margin: 0px auto;
    max-width: 944px;
    padding: 2rem;
}

.faq-questions{
    padding: 40px;
}

.faq-questions .title {
    font-size: 24px;
    line-height: 35px;
}

.faq-questions__content{
    margin-top: 3.5rem;
    display: grid;
    gap:1rem;
}

.faq-questions__content__item{
    padding: 12px 16px;
    background: #323232;
    box-shadow: 0px 6px 8px -6px rgba(24, 39, 75, 0.12), 0px 8px 16px -6px rgba(24, 39, 75, 0.08);
    border-radius: 16px;
}

.faq-questions,
.join-us{
    background: #2B2B2B;
    width: 100%;
    border-radius: 24px;
}

.join-us{
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
    display: flex;
    justify-content: space-between;
    padding:1.5rem;
    color:#fff;
    border: 1px solid #464646;
}

.join-us p{
    font-family: 'Helvetica Now Display Bold';
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.015em;
}

.icons{
    display: flex;
    gap:1.5rem;
    align-items: center;
}


.tabs {
    overflow: hidden;
    display: grid;
    grid-gap:1rem;
    margin-top: 2rem;
}
.tabs .container {
    color: white;
    overflow: hidden;
    border: 2px solid #464646;
    border-radius: 16px;
  }
  .question:hover {
    background: #404040;
}
  
  .question {
    display: flex;
    justify-content: space-between;
    padding: 11px 16px;
    background: #323232;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12), 0px 4px 4px -2px rgba(24, 39, 75, 0.08);
    font-size: 18px;
    line-height: 26px;
    gap:1rem;
    transition: all 0.4s ease;
    -webkit-tap-highlight-color: transparent; 
  }
  
  .question::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.4s ease;
  }
  
  .question.active::after {
    transform: rotate(90deg);
  }
  
  .answercont {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
    color: #fff;
    background: #323232;
    position: relative;
  }
  
  .answer {
    padding: 0.4rem 1rem 1rem 1rem;
    line-height: 25px;
    position: relative;
  }

  .answer p{
    border-top: 1px solid #F2F2F5;
    padding-top: 1rem;
  }

.answer a,
.answer a:any-link
{
    text-decoration: none;
    color:#8CDAE5;
}



#roadmap {
    position: relative;
    color:#fff;
    margin: 1.5rem 15rem 6rem 15rem;
}

#roadmap h1{
    text-align: center;
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}
  #roadmap .container {
    position: relative;
  }

  .ps-timeline::after{
    top: -10px;
    right: -145px;
    content: 'DAO Governance';
    position: absolute;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    max-width: 200px;

  }
  li::marker{
      content:none;
  }
  
  .ps-timeline {
    padding: 0;
    display: flex;
    justify-content: center;
    border-top: 3px solid;
    border-image-slice: 1;
    border-right: none;
    border-bottom: none;
    border-image-source: radial-gradient(#ABE581, #8CE5CC);
  }
  .ps-timeline li {
    float: left;
    width: 33%;
    padding-top: 30px;
    position: relative;
  }
  .ps-timeline li span {
    box-shadow: 0 0 0 0px #fff;
    text-align: center;
    line-height: 50px -10;
    font-style: normal;
    position: absolute;
    top: 0px;
    left: 50%;
}
.ps-bot {
    margin: 60px auto;
    text-align: center;
    max-width: 355px;
    cursor: pointer;
    transition: 0.4s ease;
    -webkit-tap-highlight-color: transparent; 
}

    .ps-bot:hover{
        transform: scale(1.1);
    }
  
  .ps-sp-bot:before {
    content: '';
    width: 3px;
    height: 50px;
    background: radial-gradient(50% 190.67% at 50% -54.1%, #ABE581 0%, #8CE5CC 100%);
    position: absolute;
    bottom: -50px;
    left: 50%;
  }
  .ps-sp-bot:after {
    content: '';
    color: #8CE5CC;
    width: 25px;
    height: 25px;
    background: #8CE5CC;
    position: absolute;
    top: 48px;
    right: -14px;
    border-radius: 100%;
  }
  

  .ps-timeline li p {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }

    .ps-bot {
    margin: 60px auto;
    text-align: center;
    max-width: 355px;
  }
  
   .ps-bot h3{
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 1rem;
  }


/*Responsive styles*/

@media screen and (max-width:1400px) {
    .page-header__animation .desktop{
        display: none;
    }
    .page-header__animation .mobile{
        display: block;
    }
}

@media screen and (max-width:1270px){
    .page-header{
        flex-direction: column;
    }
    .page-header__animation{
        width: 100%;
        padding-left: 5rem;
        margin-top: 4rem;
        z-index:0;
    }
    .mobile{
        clip-path: inset(0 57% 0 0);
        width: 235%;
    }
    .page-header__content__description {
        max-width: 600px;
    }
    .page-header__content__description p{
        font-size: 1.5rem;
        line-height: 33px;
    }
    .page-header__content h1{
        font-size: 4rem;
    }
    .ps-timeline::after {
        top: 102%;
        left: 0px;
    }

    .gradient-wrapper{
        background: conic-gradient(from 0deg at 50% 78.83%, #1F1F1F -112.52deg,
     #1F1F1F 0.02deg, #2B2B2B 115.91deg, 
    #8CDAE5 169.98deg, #ABE581 191.66deg, #1F1F1F 247.48deg, #1F1F1F 360.02deg);
    }

    .ps-timeline {
      margin: 0 !important;
      height: 38rem;
      flex-direction: column;
      padding-top: 4rem;
      border-left: 3px solid;
      border-image-slice: 1;
      border-image-source: radial-gradient(#ABE581, #8CE5CC);
      border-top: 0 !important;
    }
    .ps-timeline li {
      float: none !important;
      width: inherit !important;
    }
   
    .ps-timeline li:last-child {
      margin: 0;
      bottom: 0 !important;
      height: 120px;
    }

    .ps-timeline li span {
      left: 22px !important;
    }
    .ps-timeline li {
        height: 33.3%;
        position: relative;
    }
    .ps-bot{
        position: absolute;
        right: -45px;
        top: -80px;
        width: 90%;
    }
    .ps-timeline li span.ps-sp-bot:before {
        transform: rotate(90deg);
    }
    .ps-sp-bot:after{
        top: 13px;
        right: -50px;
    }
    .ps-timeline li p {
      text-align: left !important;
      width: 100% !important;
      margin: 0 auto !important;
      margin-top: 0px !important;
    }

}

@media screen and (max-width:900px) {
    #roadmap{
        margin: 1.5rem 8rem 6rem 8rem;
    }
    .ps-bot h3,
    .ps-bot i
    {
        font-size: 18px;
        line-height: 26px;
    }
    .ps-bot {
        pointer-events: none;
    }
    
}

@media screen and (max-width:800px) {
    .join-us{
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
}

@media screen and (max-width:700px){
    .faq-questions .title{
        font-size: 18px !important;
        line-height: 26px;
    }
    .faq-container{
        padding: 0;
    }
    .faq-questions{
        border-radius: 0;
    }

    .logo{
        margin: 3rem auto;
        display: flex;
        justify-content: center;
    }
    .mobile{
        max-height: 750px;
    }
    .page-header__content{
        margin-left: 1.5rem;
        margin-top: 8rem;
    }
    .page-header__content h1 {
        font-size: 3rem;
    }
    .page-header__content__description {
        max-width: 440px;
    }
    .page-header__content__description p{
        font-size: 1rem;
        line-height: 23px;
    }
    .faq-questions p {
        font-size: 1rem !important;
    }
    .tabs {
        margin-top: 1rem !important;
    }

    .icons{
        gap:1rem;
        justify-content: space-between;
    }
    .icons img{
        width:35px;
        height: 35px;
        object-fit: contain;
    }
    .join-us p{
        font-size: 16px;
    }
    .join-us__wrapper{
        padding: 20px;
    }
    .faq-questions{
        padding:1.5rem;
    }
    #roadmap h1{
        font-size: 36px;
        margin-bottom: 3rem;
        padding-top: 3rem;
    }
    #roadmap{
        margin: -28rem 0 6rem 0 !important;
        padding: 0 3rem;
        background: #1F1F1F;
    }
    .main-content{
        background: #2B2B2B;
    }
    #learn-more{
        width: 180px;
        height: 48px;
        font-size: 20px;
        line-height: 24px;
    }
}

@media screen and (max-width:450px) {
    .page-header__content__description {
        max-width: 300px;
    }
    .icons{
        display: grid;
        gap: 2rem 2.5rem;
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width:550px) {
    #roadmap {
        padding: 1rem;
    }
    .ps-bot{
        right: 130px;
        max-width: 260px;
    }
}


@media screen and (max-width:500px) {
    .ps-bot{
        left:30%;
        max-width: 200px;
    }
}
@media screen and (min-width:1900px){
    #roadmap{
        margin: 6rem 15rem;
    }
}

@media screen and (min-width:1270px){
    .ps-timeline{
        gap:5rem;
    }
}
