/*Override browser default styles*/

@font-face {
    font-family: 'Helvetica Now Display Bold';
    src: local('Helvetica Now Display Bold'), local('Helvetica-Now-Display-Bold'),
        url('../fonts/HelveticaNowDisplay-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Bold.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Now Display';
    src: local('Helvetica Now Display Regular'), local('Helvetica-Now-Display-Regular'),
        url('../fonts/HelveticaNowDisplay-Regular.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Regular.woff') format('woff'),
        url('../fonts/HelveticaNowDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Helvetica Now Display';
}

body {
    background-color: rgb(31,31,31);

}

html {
    scroll-behavior: smooth;
}

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

button{
    -webkit-appearance: none;
}

/*Main styles*/

.logo-wrapper{
    width: 100%;
}

.logo{
    margin-left:4.5rem;
    margin-top:3rem;
}

.logo img{
    width:272px;
    height: 50px;
    object-fit: contain;
}

.page-header{
    display: flex;
    justify-content: space-between;
}

.page-header__content{
    margin-top: 12rem;
    margin-left:6rem;
    color:#fff;
}

.page-header__content h1 {
    font-family: 'Helvetica Now Display Bold';
    font-size: 4.5rem;
    line-height: 3rem;
    letter-spacing: -0.015em;
    line-height: 72px;
}

.page-header__content__description{
    max-width: 620px;
    margin-top: 1rem;
}

.page-header__content__description p{
    font-size: 26px;
    line-height: 36px;
}

.page-header__content__button {
    margin-top: 24px;
}

#learn-more{
    width: 180px;
    height: 48px;
    font-family: 'Helvetica Now Display Bold';
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    line-height: 18px;
    border-radius: 20px;
    color: #2B2B2B;
    background: linear-gradient(213.12deg, #ABE581 26.52%, #8CDBE2 111.08%);
}
.page-header__animation{
    width: 1050px;
    overflow: hidden;
    margin-top: -15rem;
}

.page-header__animation .mobile{
    display: none;
}

.main-content{
    z-index: 1;
}

.faq-container{
    color:#fff;
    max-width: 880px;
    margin: 0px auto;
    padding: 0 2rem;
}

.join-us__wrapper{
    margin: 0px auto;
    max-width: 880px;
    padding: 2rem;
}

.faq-questions{
    padding: 40px;
}

.faq-questions .title {
    font-size: 24px;
    line-height: 35px;
}

.faq-questions__content{
    margin-top: 3.5rem;
    display: grid;
    gap:1rem;
}

.faq-questions__content__item{
    padding: 12px 16px;
    background: #323232;
    box-shadow: 0px 6px 8px -6px rgba(24, 39, 75, 0.12), 0px 8px 16px -6px rgba(24, 39, 75, 0.08);
    border-radius: 16px;
}

.faq-questions,
.join-us{
    background: #2B2B2B;
    width: 100%;
    border-radius: 24px;
}

.join-us{
    box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);
    display: flex;
    justify-content: space-between;
    padding:1.5rem;
    color:#fff;
    align-items: center;
    border: 1px solid #464646;
}

.join-us__text p{
    font-family: 'Helvetica Now Display Bold';
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.015em;
}

.icons{
    display: flex;
    gap:1.5rem;
    align-items: center;
}


.tabs {
    overflow: hidden;
    display: grid;
    grid-gap:1rem;
    margin-top: 2rem;
}
.tab {
    width: 100%;
    color: white;
    overflow: hidden;
}
.tab-label {
    display: flex;
    justify-content: space-between;
    padding: 11px 16px;
    background: #323232;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 2px 4px -2px rgba(24, 39, 75, 0.12), 0px 4px 4px -2px rgba(24, 39, 75, 0.08);
    border-radius: 16px;
    font-size: 18px;
    line-height: 26px;
    border: 2px solid #464646;
    gap:1rem;
}
.tab-label:hover {
    background: #404040;
}
.tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}
.tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #fff;
    background: #323232;
    transition: all 0.35s;
    position: relative;
}

 .paragraph::before{
    content:'';
    display: none;
    position: absolute;
    top:-16px;
    left:0;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.paragraph{
    position: relative;
    font-size: 16px;
    line-height: 25px;
}



/* input:checked + .tab-label {
    background: #1a252f;
} */
input:checked + .tab-label::after {
    transform: rotate(90deg);
}
input:checked ~ .tab-content {
    max-height: 200rem;
    padding: 1em;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border:2px solid #464646;
    border-top:0px;
}


input:checked ~ .tab-content p::before{
    display: block;
}

input:checked ~ .tab-label{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 0px;
}

/*Responsive styles*/

@media screen and (max-width:1400px) {
    .page-header__animation .desktop{
        display: none;
    }
    .page-header__animation .mobile{
        display: block;
    }
}

@media screen and (max-width:1270px){
    .page-header{
        flex-direction: column;
    }
    .page-header__animation{
        width: 100%;
        padding-left: 5rem;
        margin-top: 4rem;
        z-index:-1;
    }
    .mobile{
        clip-path: inset(0 57% 0 0);
        width: 235%;
    }
    .page-header__content__description {
        max-width: 600px;
    }
    .page-header__content__description p{
        font-size: 1.5rem;
        line-height: 33px;
    }
    .page-header__content h1{
        font-size: 4rem;
    }
    .main-content{
        margin-top: -48rem;
    }
}

@media screen and (max-width:700px){
    .faq-questions .title{
        font-size: 18px !important;
        line-height: 26px;
    }
    .faq-container{
        padding: 0;
    }
    .faq-questions{
        border-radius: 0;
    }
    .main-content{
        margin-top: -23rem;
    }
    .logo{
        margin: 3rem auto;
        display: flex;
        justify-content: center;
    }
    .mobile{
        max-height: 750px;
    }
    .page-header__content{
        margin-left: 1.5rem;
        margin-top: 8rem;
    }
    .page-header__content h1 {
        font-size: 3rem;
    }
    .page-header__content__description {
        max-width: 440px;
    }
    .page-header__content__description p{
        font-size: 1rem;
        line-height: 23px;
    }
    .faq-questions p {
        font-size: 1rem !important;
    }
    .tabs {
        margin-top: 1rem !important;
    }
    .join-us{
        flex-direction: column;
        gap: 1rem;
    }
    .icons{
        gap:3rem;
        justify-content: space-between;
    }
    .icons img{
        width:35px;
        height: 35px;
        object-fit: contain;
    }
    .join-us__text p{
        font-size: 1.1rem;
    }
    .faq-questions{
        padding:1.5rem;
    }
}

@media screen and (max-width:450px) {
    .page-header__content__description {
        max-width: 300px;
    }
}