@media screen and (max-width: 1270px) {
    .mobile {
        clip-path: inset(0 57% 0 0);
        width: 235%;
    }
    .ps-timeline {
        margin: 0 !important;
        height: 38rem;
        border-top: 0 !important;
        border-left: 3px solid;
        border-image-slice: 0 0 0 1 !important;
        &::after {
            top: 104% !important;
            left: 0px;
        }
        li {
            height: 33.3%;
            position: relative;
            float: none !important;
            width: inherit !important;
            &:last-child {
                margin: 0;
                bottom: 0 !important;
                height: 120px;
            }
            span {
                left: 22px !important;
                &:before {
                    transform: rotate(90deg);
                }
                &:after {
                    top: 13px !important;
                    right: -50px !important;
                }
            }
            & > div{
                position: absolute;
                right: -45px;
                top: -80px;
                width: 90%;
            }
        }
        div:last-child{
            clip-path: polygon(100% 0, 0 0, 50% 77%) !important;
            top: 100% !important;
            left: -6px !important;
        }
    }
}

@media screen and (max-width: 900px) {
    #roadmap {
        margin: 1.5rem 8rem 6rem 8rem;
    }
}

@media screen and (max-width: 800px) {
    .join-us {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    .faq-questions .title {
        font-size: 18px !important;
        line-height: 26px;
    }
    .faq-container {
        padding: 0;
    }
    .faq-questions {
        border-radius: 0;
    }

    .logo {
        margin: 3rem auto;
        display: flex;
        justify-content: center;
    }
    .mobile {
        max-height: 750px;
    }
    .page-header__content {
        margin-left: 1.5rem;
        margin-top: 8rem;
    }
    .page-header__content h1 {
        font-size: 3rem;
    }
    .page-header__content__description {
        max-width: 440px;
    }
    .page-header__content__description p {
        font-size: 1rem;
        line-height: 23px;
    }
    .faq-questions p {
        font-size: 1rem !important;
    }
    .tabs {
        margin-top: 1rem !important;
    }

    .icons {
        gap: 1rem;
        justify-content: space-between;
    }
    .icons img {
        width: 35px;
        height: 35px;
        object-fit: contain;
    }
    .join-us p {
        font-size: 16px;
    }
    .join-us__wrapper {
        padding: 20px;
    }
    .faq-questions {
        padding: 1.5rem;
    }
    #roadmap h1 {
        font-size: 36px;
        margin-bottom: 3rem;
        padding-top: 3rem;
    }
    #roadmap {
        margin: -28rem 0 0 0 !important;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 10rem !important;
        background: #1f1f1f;
    }
    .main-content {
        background: #2b2b2b;
    }
    #learn-more {
        width: 180px;
        height: 48px;
        font-size: 20px;
        line-height: 24px;
    }
}

@media screen and (max-width: 450px) {
    .page-header__content__description {
        max-width: 300px;
    }
    .icons {
        display: grid;
        gap: 2rem 2.5rem;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 550px) {
    #roadmap {
        padding: 1rem;
    }
    .ps-bot {
        right: 130px;
        max-width: 260px;
    }
}

@media screen and (max-width: 500px) {
    .ps-bot {
        left: 30%;
        max-width: 200px;
    }
}
@media screen and (min-width: 1900px) {
    #roadmap {
        margin: 6rem 18rem;
    }
}

@media screen and (min-width: 1270px) {
    .ps-timeline {
        gap: 5rem;
    }
}
