<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="relative">
    {% include header.html %}
    <div class="post-container flex mt-40">
        <div class="h-screen w-80 flex justify-center">
            <div class="flex flex-col gap-4">
                <a href="https://twitter.com/sustaindao" target="_blank"
                    class="bg-white rounded-full w-10 h-10 flex items-center justify-center group hover:bg-primary ease-in duration-100">
                    <img class="group-hover:invert brightness-0"
                        src="../../../../assets/images/icons/twiter-black.svg" />
                </a>
                <a href="https://facebook.com" target="_blank"
                    class="bg-white rounded-full w-10 h-10 flex items-center justify-center group hover:bg-primary ease-in duration-100">
                    <img class="group-hover:invert brightness-0"
                        src="../../../../assets/images/icons/facebook-black.svg" />
                </a>
                <a href="https://discord.com/invite/rSnzWhGAS8" target="_blank"
                    class="bg-white rounded-full w-10 h-10 flex items-center justify-center group hover:bg-primary ease-in duration-100">
                    <img class="group-hover:invert brightness-0"
                        src="../../../../assets/images/icons/discord-black.svg" />
                </a>
                <div data-before="Copy link"
                    class="bg-white rounded-full w-10 h-10 flex items-center justify-center group hover:bg-primary ease-in duration-100 relative copy-btn cursor-pointer">
                    <img class="group-hover:invert brightness-0" src="../../../../assets/images/icons/u_link.svg" />
                </div>
            </div>
        </div>
        <div class="text-white flex justify-center flex-col">
            <p class="text-2xl mb-6 font-medium">{{page.date | date: "%B %e, %Y"}}</p>
            <h1 class="text-6xl leading-12 font-bold font-display-bold">
                {{ page.title | strip_html |
                truncate: 30 }}</h1>
            <article class="font-bold font-display-bold mt-6 text-4.5xl leading-11 line-clamp-3 max-w-2xl mb-4">{{page.excerpt |
                strip_html | truncate: 120}}</article>
            <article class="content">
                {{ content | remove_first:page.excerpt }}
            </article>
        </div>
        
        <div class="h-screen w-80"></div>
    </div>
    {% include footer.html %}
    <script src="../../../../assets/js/article.js"></script>
</body>

</html>