<!DOCTYPE html>
<html lang="en">
 {% include head.html %}
<body class="relative">
{% include header.html %}
<div class="post-container flex mt-40">
    <div class="social-sidebar h-screen w-64 flex justify-center">
        <div class="flex flex-col gap-4">
            <a href="https://twitter.com/sustaindao" target="_blank" class="bg-white rounded-full w-10 h-10 flex items-center justify-center">
                <img src="../../../../assets/images/icons/twiter-black.svg"/>
            </a>
            <a href="https://facebook.com" target="_blank" class="bg-white rounded-full w-10 h-10 flex items-center justify-center">
                <img src="../../../../assets/images/icons/facebook-black.svg"/>
            </a>
            <a href="https://discord.com/invite/rSnzWhGAS8" target="_blank" class="bg-white rounded-full w-10 h-10 flex items-center justify-center">
                <img src="../../../../assets/images/icons/discord-black.svg"/>
            </a>
            <div class="bg-white rounded-full w-10 h-10 flex items-center justify-center copy-btn cursor-pointer">
                <img src="../../../../assets/images/icons/u_link.svg"/>
            </div>
        </div>
    </div>
    <div class="post-data">
        {{content}}
    </div>
</div>
<script src="../../../../assets/js/article.js"></script>
</body>
</html>