
  .post-content{
    border: solid 1px transparent;
    border-radius: 40px;
    background-image: linear-gradient(#2B2B2B, #2B2B2B), radial-gradient(circle at top left, #ABE581,#8CE5CC);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  .article-btn{
    border: solid 1px transparent;
    background-image: linear-gradient(#2B2B2B, #2B2B2B), radial-gradient(circle at top left, #ABE581,#8CE5CC);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
