---
layout: default
title: Articles
pagination:
    enabled: true
---

<section class="articles mt-36">
    <h3 class="text-center text-white text-4xl tablet:text-5xl font-display-bold">Articles</h3>
    <div class="flex justify-center px-5 tablet:px-10 desktop:px-24 py-16 flex-col">
        <div class="grid grid-cols-1 laptop:grid-cols-2 screen-xl:grid-cols-3 gap-12 articles-grid">
            {%- for post in paginator.posts -%}
            <div class="post-content max-h-64 flex justify-start">
                <a href="{{post.url}}">
                    <div class="p-6 desktop:p-10 text-white">
                        <p
                            class="text-sm font-semibold leading-5 tablet:text-base desktop:text-2xl tablet:leading-8 mb-4 tablet:mb-0 desktop:mb-8">
                            {{post.date | date: "%B %e, %Y"}}</p>
                        <h1
                            class="text-2xl font-bold font-display-bold leading-9 tablet:text-4xl desktop:text-4.5xl tablet:leading-12">
                            {{ post.title | strip_html |
                            truncate: 20 }}</h1>
                        <article
                            class="mt-6 text-sm leading-5 tablet:text-base desktop:text-2xl tracking-wide tablet:leading-7 line-clamp-5">
                            {{ post.excerpt | strip_html | truncate: 240}}</article>
                    </div>
                </a>
            </div>
            {%- endfor -%}
        </div>
        <div class="pagination flex items-center justify-center gap-6 xmd:gap-12 text-white mt-10 tablet:mt-20">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}"
                class="previous w-10 h-10 xmd:w-16 xmd:h-16 rounded-full flex justify-center border border-gray items-center relative">
            </a>
            {% else %}
            <span
                class="previous w-16 h-16 rounded-full flex justify-center border border-gray items-center relative text-gray"></span>
            {% endif %}
            {% if paginator.page_trail %}
            {% for trail in paginator.page_trail %}
            <div {% if page.url==trail.path %}class="page-active" {% endif %}>
                <a class="font-extrabold" href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{
                    trail.num }}</a>
            </div>
            {% endfor %}
            {% endif %}
            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}"
                class="next w-10 h-10 xmd:w-16 xmd:h-16 rounded-full flex justify-center border border-gray items-center relative"></a>
            {% endif %}
        </div>
    </div>
</section>