---
layout: default
title: Articles
---

<section class="articles mt-36">
    <h3 class="text-center text-white text-5xl font-display-bold">Articles</h3>
    <div class="flex justify-center px-24 py-16 flex-col">
        <div class="grid grid-cols-3 gap-12">
            {%- for post in paginator.posts -%}
            <div class="post-content max-h-64">
                <a href="{{post.url}}"> 
                    <div class="p-16 text-white">
                        <p class="text-2xl leading-8 mb-8">{{post.date | date: "%B %e, %Y"}}</p>
                        <p class="text-6xl leading-12">{{ post.title }}</p>
                        <article class="mt-6 text-2xl tracking-wide leading-7 line-clamp-3">{{ post.excerpt | strip_html |
                            truncate: 160}}</article>
                    </div>
            </a>
            </div>
            {%- endfor -%}
        </div>
        <div class="pagination flex items-center justify-center text-white mt-6">
            <div class="page_number flex gap-2 items-center">
                {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path }}"
                    class="previous w-16 h-16 rounded-full flex justify-center border border-gray items-center relative">
                </a>
                {% else %}
                <span
                    class="previous w-16 h-16 rounded-full flex justify-center border border-gray items-center relative text-gray"></span>
                {% endif %}
                <div class="flex justify-between items-center gap-10 font-extrabold text-lg">
                    <div class="page-active w-16 h-16 flex items-center justify-center rounded-full"> {{ paginator.page
                        }} </div>
                    <span>of</span>
                    <div class="total-pages rounded-full flex items-center justify-center w-16 h-16">
                        <p>{{ paginator.total_pages }}</p>
                    </div>
                </div>
                {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path }}"
                    class="next w-16 h-16 rounded-full flex justify-center border border-gray items-center relative"></a>
                {% else %}
                <span
                    class="next w-16 h-16 rounded-full flex justify-center border border-gray items-center relative text-gray"></span>
                {% endif %}
            </div>
        </div>
    </div>
</section>