---
layout: default
title: Articles
---

<section class="articles mt-36">
    <h3 class="text-center text-white text-5xl font-display-bold">Articles</h3>
    <div class="flex justify-center px-24 py-16 flex-col">
        <div class="grid grid-cols-3 gap-12">
            {%- for post in paginator.posts -%}
            <div class="post-content max-h-64">
                <div class="p-16 text-white">
                    <p class="text-2xl leading-8 mb-8">{{post.date | date: "%B %e, %Y"}}</p>
                    <a class="text-6xl leading-12" href="{{ post.url }}">{{ post.title }}</a>
                    <article class="mt-6 text-2xl tracking-wide leading-7">{{ post.excerpt }}</article>
                </div>
            </div>
            {%- endfor -%}
        </div>
        {% if paginator.total_pages > 1 %}
        <div class="pagination mt-6 text-white text-2xl">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
            {% else %}
            <span>&laquo; Prev</span>
            {% endif %}

            {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
            <em>{{ page }}</em>
            {% elsif page == 1 %}
            <a href="{{ '/' | relative_url }}">{{ page }}</a>
            {% else %}
            <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
            {% else %}
            <span>Next &raquo;</span>
            {% endif %}
        </div>
        {% endif %}
        <div class="flex w-full justify-end mt-16">
            <div class="rounded-3xl text-white font-bold text-2xl leading-6 article-btn cursor-pointer">
                <div class="py-5 px-10">
                    Load more articles
                </div>
            </div>
        </div>
    </div>
</section>